<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vanguard.mapper.Test2Mapper">
  <resultMap id="BaseResultMap" type="com.vanguard.domain.Test2">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="subid" jdbcType="VARCHAR" property="subid" />
    <result column="meid" jdbcType="VARCHAR" property="meid" />
    <result column="acid" jdbcType="VARCHAR" property="acid" />
    <result column="acname" jdbcType="VARCHAR" property="acname" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>

</mapper>